body { background: #FFFFFF url(images/gradient_white.jpg) repeat-x; color: #000000; }
#menu { text-transform: lowercase; padding-top: 5px; text-align: right;}
#menu li { display: inline; }
#menu li a { padding: 3px 6px; color: #D31D8C; text-decoration: none; }
#menu li a:hover, #menu li a.current { background: #EE88CD; }

ul#twitter_update_list, ul#rss_update_list { list-style-type: none;} { list-style-type: none;}
ul#twitter_update_list, ul#rss_update_list { list-style-type: none;} li { padding-bottom: 1.5em;}

#header-separator {background: #FFFFFF; height: 15px;}

#footer { padding: 85px 0 5px 0; background: #A4F2F2 url(images/footer_white.jpg) repeat-x; min-height: 100px; }


/* to be used only in containers. Use for header and footer to get out of grid limits  */
.container.full-width {width:100%}


		


 