/* overrides of blueprint defined styles */
body {font-size:80%;font-family:'Cantarell', Verdana,Georgia,"Helvetica Neue", Arial, Helvetica, sans-serif;}


h2, h3, h4, h5, h6, #menu {
	color:#332222;
	font-family: Verdana,Georgia,"Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: 4px 4px 4px #bbb;
	}

header h1 {
  font-size: 5em;
  font-family:'Cabin Sketch';
  margin-bottom: 0px;
  }

aside h2 { font-size: 1.5em; }

.alt { 
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
	font-style: italic;
	color: #332222; 
  text-shadow: 4px 4px 4px #bbb;

	} 
a:focus, a:hover {color:#ff9911;}
a {color:#774444;}

 p.incr, .incr p {
    font-size: 12px;
  }
/* end of overrides of blueprint defined styles */

 

/*.color-link-dark {color: #D31D8C; }*/
.color-link-dark {color: #774444; }
/*.color-link-light {color: #EE88CD; }*/
.color-link-light {color: #ff9911; }
.color-title-dark {color: #4DC5D6; }
.color-title-light {color: #A5F2F3; }
.color-background-dark {color: #BCDD11; }
.color-background-light {color: #F1FAC0; }
.color-alt-dark {color: #CBCB9C; }
.color-alt-light {color: #EEEEDF; }
.color-text {color: #000000;}
.color-white {color: #FFFFFF;}

.background-link-dark {background-color: #D31D8C; }
.background-link-light {background-color: #EE88CD; }
.background-title-dark {background-color: #4DC5D6; }
.background-title-light {background-color: #A5F2F3; }
.background-background-dark {background-color: #BCDD11; }
.background-background-light {background-color: #F1FAC0; }
.background-alt-dark {background-color: #CBCB9C; }
.background-alt-light {background-color: #EEEEDF; }
.background-text {background-color: #000000;}
.background-white {background-color: #FFFFFF;}


